<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alpha-jo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alpha-jo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alpha-jo.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alpha-jo.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amatpa.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amatpa.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amwaj.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://amwaj.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aysarlocation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aysarlocation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aysarlocation.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aysarlocation.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://doctor.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://doctor.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://genestek.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://genestek.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://giantsaluminium.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://giantsaluminium.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://giantsaluminium.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://giantsaluminium.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jogallery.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jogallery.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petra.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petra.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petradetector.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petradetector.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petradetector.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://petradetector.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shepherd.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shepherd.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wazeftak.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wazeftak.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.abukraikbatteries.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alpha-jo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alpha-jo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alpha-jo.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alpha-jo.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amatpa.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amatpa.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amwaj.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.amwaj.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aysarlocation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aysarlocation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aysarlocation.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aysarlocation.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.doctor.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.doctor.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.genestek.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.genestek.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.giantsaluminium.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.giantsaluminium.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.giantsaluminium.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.giantsaluminium.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jogallery.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jogallery.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petra.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petra.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petradetector.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petradetector.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petradetector.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.petradetector.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shepherd.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shepherd.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wazeftak.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wazeftak.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--rgb1cmb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--rgb1cmb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--rgb1cmb.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--rgb1cmb.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zam.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zam.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--rgb1cmb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--rgb1cmb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--rgb1cmb.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--rgb1cmb.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zam.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zam.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://abukraikbatteries.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alpha-jo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alpha-jo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alpha-jo.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alpha-jo.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amatpa.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amatpa.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amwaj.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://amwaj.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aysarlocation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aysarlocation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aysarlocation.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://aysarlocation.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://doctor.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://doctor.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://genestek.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://genestek.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://giantsaluminium.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://giantsaluminium.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://giantsaluminium.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://giantsaluminium.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jogallery.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jogallery.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petra.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petra.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petradetector.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petradetector.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petradetector.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://petradetector.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shepherd.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shepherd.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wazeftak.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wazeftak.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.abukraikbatteries.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alpha-jo.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alpha-jo.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alpha-jo.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alpha-jo.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amatpa.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amatpa.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amwaj.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.amwaj.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aysarlocation.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aysarlocation.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aysarlocation.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.aysarlocation.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.doctor.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.doctor.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.genestek.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.genestek.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.giantsaluminium.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.giantsaluminium.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.giantsaluminium.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.giantsaluminium.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jogallery.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jogallery.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petra.amatpa.net/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petra.amatpa.net$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petradetector.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petradetector.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petradetector.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.petradetector.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shepherd.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shepherd.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wazeftak.abukraikbatteries.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wazeftak.abukraikbatteries.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--rgb1cmb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--rgb1cmb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--rgb1cmb.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--rgb1cmb.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zam.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zam.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--rgb1cmb.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--rgb1cmb.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--rgb1cmb.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--rgb1cmb.naour.gov.jo$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zam.naour.gov.jo/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zam.naour.gov.jo$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
RewriteCond %{HTTP_HOST} ^petradetector\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.petradetector\.com$
RewriteRule ^/?$ "https\:\/\/www\.petradetector\.com\/ar" [R=301,L]
RewriteCond %{HTTP_HOST} ^petradetector\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.petradetector\.com$
RewriteRule ^ar$ "https\:\/\/www\.petradetector\.com\/ar" [R=301,L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php73” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
